body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/images/bg.png);
}

nav{
    width: 800px;
    margin-left:auto;
    margin-right: auto;
}

nav ul {
    list-style: none; 
    background-color: black;
    border: 5px solid;	
    border-radius: 4px; 
    width: 260px;
    position: sticky; 
    float: right;
    }
    
nav li {
        margin: 0.5em; 
        background-color: black;
        display: inline;
      }
nav a {
        text-decoration: none; 
        font-weight: bold;
        color: white; 
      }

nav a:hover {    
        text-decoration:underline;
      }



#selected {
    color: #b63514;
    ;
}


.input-formular {
    width: 500px;
    color: white;
}


.input-formular p {
margin-left: 10px;
color: gray;

}


.aboutme-container {
    color: #b63514;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
}



input {
    width: 500px;
    height: 50px;
    margin: 10px;
    color: white;
    background-color: rgb(182, 182, 182);

}

textarea {
    width: 500px;
    height: 150px;
    margin-left: 10px;
    color: white;
    background-color: rgb(182, 182, 182);

}

button {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    color: white;
    background-color: rgb(182, 182, 182);

}


.head-container {
        border-radius: 0px 0px 550px 550px;
        background: #b63514;
        margin-top: -15px;
        width: 800px;
        height: 500px; 
        margin-left:auto;
        margin-right: auto;
    }


.head-content {
    float: right;
    padding-right: 10pc;
}
    
.headline{
        font-size: 10em;
        font-weight: bold;
        color: white;
        text-align: center;
        margin: 0px 20px 0px 20px;
        
    }
    

.foto-content {
   width: 800px;
   margin-left: auto;
   margin-right: auto;
}

video {
    width: 800px;
}


.video-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

 h2 {
        font-size: 2em;
        font-weight: bold;
        color: white; 
    }

h3 {
    color: #b63514;
    margin-top: 35px;
    margin-bottom: 35px;
}
    
.head-text{
        font-size: 1em;
        color: white;

    }
    
.fb{
        width: 25px;
        display:block;
        opacity: 100%;

    }