body {
	 background-image:url("assets/bg.png");
    font-family: 'Times New Roman', Times, serif;
    color: white;
    overflow: hidden;
}

a {
    text-decoration: none;
}


.Video {
    position: relative;
	margin-left: auto;
    margin-right: auto;
    margin-top: 15pc;
	padding: 25px 25px 25px 25px;
   
}
.Ribbon {
    position: relative;
    bottom: 25pc;
}


.postcard-container{
    width: 600px;
	height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15pc;
}


.postcard{
    position: absolute;
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.46);
    z-index: -1;
}

h1{
    position: absolute;
    margin-top: 3pc;
    margin-left: 4pc;
	z-index: 1;
}
