body{
    background-image: url(assets/bg.png);
}

.postcard {
    position: absolute;
    z-index: -1;

}



.postcard-container{
    width: 600px;
	height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15pc;
}



.headline {
    width: 500px;
    font-size: 35px;
    text-align: left;
    position: relative;
    color: white;
    margin-left: 2pc;
    margin-top: 10pc;
    top: 20px;
    z-index: 1;

}

h2 {
    padding-left: 25px;
}

.head-content {
    font-size: 15px;
    text-align: left;
    position: relative;
    color: white;
    z-index: 1;
    left: 30px;


}

.Stern {
    position: relative;

}


.Stern:hover {
    background: url(assets/stern_hover.png);
}

.Stern2 {
    position:relative;
    left: 50px;
}

.Stern2:hover {
    background: url(assets/stern_hover.png);
}

.Stern3 {
    position:relative;
    left: 150px;

}

.Stern3:hover {
    background: url(assets/stern_hover.png);
}

.Stern4 {
    position: relative;
    left: 200px;
}

.Stern4:hover {
    background: url(assets/stern_hover.png);
}