body{
    background-image: url(assets/bg.png);
}

.postcard {
    position: absolute;
    z-index: -1;
   

}

.mistletoe {
    position: relative;
    bottom: 350px;
     z-index: 1;
  

}


.postcard-container{
    width: 600px;
	height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15pc;
}


.Pinguin {
    position: relative;
    bottom: 160px;
    left: 180px;
    z-index: 1;
}

.headline {
    width: 500px;
    font-size: 35px;
    text-align: left;
    position: relative;
    color: white;
    margin-left: 4pc;
    margin-top: 10pc;
    padding-top: 20px;
    z-index: 2;
  
}

.head-content {
    font-size: 15px;
    text-align: left;
    position: relative;
    color: white;
    margin-left: 4pc;
    margin-top: 2pc;
    z-index: 2;


}